<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="example.springdata.jdbc.mybatis"/>
	</typeAliases>
	<mappers>
		<mapper resource="example/springdata/jdbc/mybatis/Model.xml"/>
		<mapper resource="example/springdata/jdbc/mybatis/LegoSet.xml"/>
	</mappers>
</configuration>