<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p %40.40c:%4L - %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- enable debug to print out query used -->
	<logger name="org.springframework.data.mongodb.core.MongoTemplate" level="debug" />

	<root level="info">
		<appender-ref ref="console" />
	</root>

</configuration>